{{define "footer"}}

    <footer class="w-full bg-mc-purple sm:pt-10 pt-4 pb-4">
        <div class="container text-mc-light-purple flex justify-center items-center flex-col">
            <div class="container flex justify-center items-center flex-row pb-4">
                <!-- <p class="text-2xl text-white font-bold">Follow us on </p> -->
                {{template "social_media"}}
            </div>
            <p class="text-sm">Mystic Case &copy; 2024. All rights reserved</p>
        </div>
    </footer>

{{end}}