{{define "answer_form"}}

    <div class="container text-mc-purple mb-12">
        <form hx-post="{{.Path}}" class="flex md:flex-row flex-col items-center" hx-target="#answer">
            <div class="md:mb-0 md:mr-4 mb-5 md:w-80 w-full">
                <input 
                    type="text"
                    id="mc-answer"
                    name="passcode"
                    class="bg-gray-50 border-2 h-14 border-gray-300 text-md text-mc-purple focus-visible:outline-none focus-visible:drop-shadow-black focus-visible:drop-shadow-xl focus-visible:ring-gray-200 rounded-2xl focus-visible:border-gray-200 block w-full p-2.5"
                    placeholder="Enter answer"
                    required 
                />
            </div>
            <div class="md:w-min w-full md:mb-0 mb-5 md:mr-4 mr-0">
                <button id="" class="uppercase md:w-min w-full tracking-wider font-bold sm:text-xl text-2xl bg-mc-light-green px-8 py-4 rounded-full" type="submit">Submit</button>
            </div>
            <div class="w-full">
                <span id="answer" class="w-full"></span>
            </div>
        </form>
    </div>

{{end}}

{{define "answer"}}
    {{if .Correct}}
        <span class="text-mc-light-green"><strong>&quot;{{.Passcode}}&quot;</strong> is correct</span>
        <script async>
            const timeout = 1;
            let timeLeft = timeout;
            setTimeout(() => {
                let interval = setInterval(() => {
                    timeLeft--;
                    if (timeLeft < 0) {
                        clearInterval(interval)
                        window.location = "{{.NextPath}}";
                    }
                }, 500);
            }, 50);
        </script>
    {{else}}
        <span class="text-[#ff1100]"><strong>&quot;{{.Passcode}}&quot;</strong> is incorrect</span>
    {{end}}
{{end}}