<main class="bg-white">
    <div class="container lg:px-0 px-8 flex flex-col justify-center items-center md:py-20 py-10">
        <div class="container flex justify-center items-center text-mc-purple mb-10 text-center">
            <h2 class="text-4xl font-bold">
                {{.Title}}
            </h2>
        </div>

        <div class="border-t border-mc-light-purple mb-10 w-full"></div>

        <div class="container flex flex-col text-mc-purple mb-10 xl:px-0 md:px-8">
            <p class="mc-p">The door opens. You quickly leave through to the reception room and examine it. The cat is nowhere to
                be seen, and the room is a complete mess. There are pieces of evidence around the detective agency's
                closet where it looks like they store items for solved cases, presumably thrown off the shelves by the
                runaway cat.</p>
            <p class="mc-p"><i>&quot;What a naughty cat,&quot;</i> you thought, and quickly begin to restore order, hoping that
                this way the detectives will not find out about his escape.</p>
        </div>

        <div 
            x-data="{
                images: [
                    {
                        path: '/static/images/games.webp',
                        alt: 'games',
                        title: 'Shelves'
                    }
                ],
            }"
        >
            <template x-for="(image, idx) in images">

                {{ template "modal_image" }}

            </template>
        </div>

        <div class="container flex flex-col text-mc-purple mb-10 xl:px-0 md:px-8">
            <p class="mc-p">Enter the answer word.</p>
        </div>

        {{ template "answer_form" . }}

        <div class="border-t border-mc-light-purple mb-10 w-full"></div>

        {{ template "hints" . }}

    </div>
</main>
